@import url('https://fonts.googleapis.com/css2?family=Passero+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;

  padding: 0;
  margin: 0;
}

.v-tooltip__content {
  background-color: var(--v-space-base) !important;
}

.dont-show {
  display: none !important;
}

.google-red-text {
  color: #f54263 !important;
}

.master-title {
  font-family: 'Passero One', sans-serif !important;
  font-size: 1.6rem;
}
