.cursor-pointer {
  cursor: pointer;
}

.overflow-200 {
  width: 100px !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.genericTransition {
  transition: all .3s ease !important;
}

.width100 {
  width: 100% !important;
}

.maxWidth100 {
  max-width: 100% !important;
}